@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400..800&display=swap');

:root{
    --black: #222;
    --indian-red: #eb5757;
    --wite-smoke: #f9f9f9;
    --brown: #ab4040;
    --gold: #ffde03;
    --red: #e53935;
    --steel-blue: #1976d2;
    --dim-grey: #525252;
    --light-grey: #838383;
    --medium-sea-grean: #20c788;
}

h1,h2,h3,p,a{
    margin: 0;
}

body {
    font-family: 'sen', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: var(--wite-smoke);
    line-height: 1.5;
    margin: auto
}
header{
    position: fixed;
    width: 100%;
    z-index: 2;
}

.banner {
    background-color: var(--black);
    width: 100%;
    padding: 0 10px;
    color: var(--wite-smoke);
    font-size: 18px;
    margin: auto;
    position:sticky;
}

.banner-block{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 30px;
    padding: 20px 15px;
    margin: auto;
    text-align: center;
}

.close-btn {
    cursor: pointer;
    background: none;
    background-color: var(--light-grey);
    border: none 2px var(--wite-smoke);
    color: var(--wite-smoke);
    border-radius: 5px;
}

nav{
    background-color: var(--indian-red);
    padding: 5px 10px;
    width: 100%;
}
.nav-bar{
    display: grid;
    grid-template-columns: 60px 1fr;
    max-width: 1200px;
    margin: auto;
   
}

.nav-menu {
    display: grid;
    align-items: center;
   justify-items: flex-end;
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
}


.nav-menu ul li a {
    display: block;
    color: var(--wite-smoke);
    text-align: center;
    margin: 0 20px;
    padding: 4px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.nav-menu ul li a:hover {
    background-color: var(--black);
    color: var(--wite-smoke);
}
.logo{
    width: 100%;
}
.logo img{
    width: 100%;
}

.two, .hero-container {
    position: relative;
    width: 100%;
    height: 800px; /* Set the height to match the slides */
    overflow: hidden;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent); /* Apply linear gradient to hero container */
}

.cta-image, .hero-slide {
    position: relative;
    height: 100%; /* Set the height to 100% to fill the container */
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0; */
    transition: opacity 0.3s ease; /* Add transition effect */
    z-index: -1;
}

.cta-image img, .hero-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    z-index: 100;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


.cta-text, .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    width: 1200px;
    margin: auto;
    padding: 0 15px;
}


.hero-content{
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cta-content h1, .hero-content h1{
    margin: 20px 0;
    width: 35%;
    font-size: 62px;
    font-weight: 700;
    line-height: 1.2;
}
.cta-content p,.hero-content p{
    margin-bottom: 25px;
    width: 35%;
    font-size: 18px;
    line-height: 1.5;

}

.cta-content a, .hero-content a{
    background-color: var(--indian-red); 
    padding: 10px 20px; 
    color: var(--wite-smoke);
    border-radius: 10px;
    font-size: 16px; 
    text-decoration: none;
}
.cta-content a:hover, .hero-content a:hover{
    background-color: var(--black); 
}
.one{
    padding: 65px 0;

}
.location{
    max-width: 1200px;
    margin: auto;
}
.info-wrapper{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    line-height: 1.5;
    margin-bottom: 40px;
}
.support-text{
    width: 45%;
}
.location-image p, .support-text p{
    margin-bottom: 10px;
}
.product-text, .text-info{
    display: flex;
    flex-direction: column;
}
.product-text h2, .text-info h2{
    font-size: 40px;
    font-weight: 700 bold;
    line-height: 1.2;
}
.product-wrapper, .location-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    
}
.product-image, .location-image{
    width: 45%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}
.image-wrapper{
    width: 100%;
    height: 450px;
    overflow: hidden;
    margin-bottom: 25px;
    border-radius: 5px;
}
.location-image h3{
    font-size: 25px;
}

.cta-content{
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;

}

.four, .three{
    padding: 65px 0;
   
}
.weather-wrapper, .product{
    padding: 0 15px;
    margin: auto;
    max-width: 1200px;
}
.product-head{
    display: flex;
    margin-bottom: 40px;
}

.product-image{
    width: 30%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-image a{
    background-color: var(--indian-red); 
    padding: 10px 20px; 
    color: var(--wite-smoke);
    border-radius: 10px;
    font-size: 16px; 
    text-decoration: none;
}

.weather-wrapper{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.weather-card {
    width: 35%;
    min-height: 200px;
    /* max-width: 400px; */
    /* margin: 20px auto; */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px 60px;
    /* text-align: center; */
}

.weather-card h2 {
    margin-bottom: 10px;
}

.weather-card img {
    width: 50px;
    height: 50px;
}

footer{
    padding: 25px 10px;
    background-color: var(--black);
    color: var(--wite-smoke);
}
.footer{
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
.footer-wrapper{
    display: flex;
}
.footer-logo{
    width: 5%;
}
.footer-logo img{
    width: 100%;
}
.footer-bottom{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between icons */
}

.social-icons a {
    display: block;
    width: 40px; /* Adjust icon size */
    height: 40px; /* Adjust icon size */
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.3s ease;
}
