@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background: #f4f4f4;
    line-height: 1.6;
    max-width: 800px;
    margin: auto
}

header {
    background-color: #005b96;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 3px;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-left: 50PX;
    margin-right: 20px;
}

nav {
    background-color: #01050a; 
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
	color: #005b96;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px; 
}

.card {
    background-color: #005b96; 
    color: white;
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

.card h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-bottom: 1px solid #ffffff80; 
    margin-top: 0;
}

.wireframe {
    background-color: #005b96; 
    color: white;
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 20px;
    height: 575.98px;
    overflow-y: scroll;
}

.wireframe h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-bottom: 1px solid #ffffff80; 
    margin-top: 0;
}
.wireframe img{
    width: 100%;
}

.color-scheme {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 150px;
    gap: 10px;
}


.primary{
    background-color: #005b96;
    width: 100%;
    border-color: #f4f4f4;
    border-style: solid; 
}
.primary p{
    padding-left: 10px;
    margin-top: 80px;
}

.secondary{
    background-color: #ffffff;
    width: 100%;  
}

.secondary p{
    color: #005b96; 
    padding-left: 10px;
    margin-top: 80px;
}

.accent{
    background-color: #fee649;
    width: 100%; 
}

.accent p{
    color: #005b96; 
    padding-left: 10px;
    margin-top: 80px;
}


footer {
    background-color: #005b96; 
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

footer p#lastModified {
    font-style: italic;
}




@media only screen and (max-width: 600px) {
    nav a {
        display: flex;
        justify-content: space-around;
        margin: 10px 0;
    }

    main {
        display: block;
        width: 95%;
        padding: 0 2.5%;
        gap: 60px;
    }

    
    #menu {
        display: block;
        cursor: pointer;
        font-size: 25px;
        font-weight: bold;
        border: 0;
        background: none;
        color: #ffffff;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #menu::before {
        content: "☰";
    }
      
    nav {
        display: none; 
    }
    
    nav.open {
        display: flex;
        flex-direction: column;
    }
    
    #menu.open::before {
        content: 'x';
    }
}
    
@media only screen and (min-width: 601px) {
    #menu {
         display: none;
    }

}



