@media only screen and (max-width: 600px) {
    nav a {
        display: flex;
        justify-content: space-around;
        margin: 10px 0;
    }

    main {
        display: block;
        width: 95%;
        padding: 0 2.5%;
        gap: 60px;
    }

    
    #menu {
        display: block;
        cursor: pointer;
        font-size: 25px;
        font-weight: bold;
        border: 0;
        background: none;
        color: #ffffff;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #menu::before {
        content: "☰";
    }
      
    nav {
        display: none; 
    }
    
    nav.open {
        display: flex;
        flex-direction: column;
    }
    
    #menu.open::before {
        content: 'x';
    }

    iframe {
        width: 90%;
    }
}
    
@media only screen and (min-width: 601px) {
    #menu {
         display: none;
    }

}


