@media only screen and (max-width: 600px) {
    nav a {
        display: flex;
        justify-content: space-around;
        margin: 10px 0;
    }

    main {
        display: block;
        width: 100%;
        gap: 60px;
    }
    section{
        margin: 0 5px;
    }
    header{
        margin: 0;
    }
    header img {
        width: 100px;
        height: auto;
        border-radius: 5%; 
        margin: 20px;
    }
    header h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        padding-left: 20PX;
        margin-right: 20px;
    }

    .hero-label{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
        padding: 0;
        margin: 0;
        border-bottom: none;
        font-style: oblique;
        color: #ffffff;
        position: absolute;
        top: 220px;
        left:15%;
        padding: 4px 15px;
        
    }

    
    #menu {
        display: block;
        cursor: pointer;
        font-size: 25px;
        font-weight: bold;
        border: 0;
        background: none;
        color: #ffffff;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #menu::before {
        content: "☰";
    }
      
    nav {
        display: none; 
    }
    
    nav.open {
        display: flex;
        flex-direction: column;
    }
    
    #menu.open::before {
        content: 'x';
    }

    iframe {
        width: 90%;
        margin: auto;
    }
}
    
@media only screen and (min-width: 900px) {
    #menu {
         display: none;
    }
}


